@font-face {font-family: "all";
  src: url('iconfont.eot?t=1641387517539'); /* IE9 */
  src: url('iconfont.eot?t=1641387517539#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1641387517539') format('woff'),
  url('iconfont.ttf?t=1641387517539') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1641387517539#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-all {
  font-family: "all" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-common_base_like_24:before {
  content: "\e000";
}


.icon-common_base_like_24 {
    color: #000
}