@font-face {font-family: "common";
  src: url('iconfont.eot?t=1641386788008'); /* IE9 */
  src: url('iconfont.eot?t=1641386788008#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1641386788008') format('woff'),
  url('iconfont.ttf?t=1641386788008') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1641386788008#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-common {
  font-family: "common" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-common_base_like_24:before {
  content: "\e000";
}


.icon-common_base_like_24 {
    color: #000
}
@media (prefers-color-scheme: dark) {

    .icon-common_base_like_24-dual { color: #ccc }
}